* {
    font-family: 'Rubik', sans-serif;
}

.header { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100vw;   
}

.Logo {
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.Button {
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    background-color: white;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 13px;    
}

.blog {
    color: #4a4a4a;
    font-size: 16px;
    text-decoration: none;
    list-style: none; 
    padding: 5px 5px 5px 5px;    
}
.contact {
    color: #4a4a4a;
    font-size: 16px;
    text-decoration: none;
    list-style: none; 
    padding: 5px 5px 5px 5px;      
}

.main {
    background-color: #3CDBC0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
   font-size: 30px;
   text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 40px;
    width: 40%;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .header { 
        flex-direction: row;
        justify-content: space-between;
        position: absolute; 
    }
    
    .Logo {
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .Button {
        align-items: center;  
        margin-right: 30px ;
    }

    h1 {
        font-size: 40px;
    }
    } 
    